{
  "presets": ["react", "env"],
  "env": {
    "development": {
    "plugins": [
      ["transform-object-rest-spread"],
      ["transform-async-to-generator"],
      ["transform-runtime"],
      ["react-hot-loader/babel"]
  ]}
  }
}