/*css重置*/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, tr, img, div, dl, dt, dd, input, label, figure, button {
  margin: 0;
  padding: 0;
}

input, textarea, select, button {
  font-size: 0;
}

html {
  font-size: 100%;
}

/*自适应*/
input, textarea, img, video, object {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*firefox设置*/
img {  
  display: inline-block;
}

body {
  font-family: "Arial", "Microsoft YaHei", sans-serif;
}

li {
  list-style: none;
}

img {
  border: none;
}

input, select, textarea, button {
  background: none;
  /*解决输入框兼容问题*/
  outline: none;
  /*聚焦时样式*/
  border: none;
  /*盒子模型*/
  vertical-align: middle
  /*对不齐的问题*/
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
/* css重置完成 */

/*以下是桌面端部分*/
@media (min-width: 720px) and (max-width: 1280px) {
  div, p, article {
    font-size: 14px;
  }
  h3 {
    font-size: 22px;
  }
  span, button, li {
    font-size: 12px;
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  div, p, article {
    font-size: 16px;
  }
  h3 {
    font-size: 28px;
  }
  span, button, li {
    font-size: 14px;
  }
  .side-bar {
    
  }
}

@media (min-width: 1920px) {
  div, p, article {
    font-size: 20px;
  }
  h3 {
    font-size: 32px;
  }
  span, button, li {
    font-size: 16px;
  }
}

/*导航栏开始*/
.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: black;
  opacity: 0.5;
}

.nav-ul {
  padding-left: 5%;
  display: flex;
  justify-content: flex-start;
}

.nav-ul li {
  height: 38px;
  line-height: 38px;
}

.nav-ul a {
  display: inline-block;
  padding: 0 12px;
  line-height: inherit;
  color: white;
  text-align: center;
  transition: all 700ms;
}

.nav-ul a:hover {
  background-color: white;
  color: black;
  transition: all 500ms;
}

.slide-enter {
  top: -38px;
}

.slide-enter.slide-enter-active {
  top: 0;
  transition: top 300ms ease-in
}

.slide-leave {
  top: 0;
}

.slide-leave.slide-leave-active {
  top: -38px;
  transition: top 200ms ease-in
}

/*头图*/

.brand-img {
  display: block; /*消除白边*/
  width: 100%;
}

/*主题部分开始*/
.body {
  display: flex;
  background-color: #EFEFEF;
  padding: 5% 5%;
}

/*侧栏开始*/
.side-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  position: sticky;
  top: 4em;
  background-color: white;
  padding: 1vh 0;
  margin-right: 1vw;
}

.side-bar > * {
  padding: 1vh 0;
}

.my-header-img {
  width: 9.375em;
  height: 9.375em;
  border-radius: 50%;
}

.my-link {
  display: flex;
}

.my-link li {
  padding: 0 1em;
}

.my-link a {
  display: inline-block;
}

.my-icon {
  color: black;
  transition: all 700ms;
}

.my-icon:hover,
.my-icon:active {
  color: skyblue;
  transition: color 500ms
}

/*正文部分*/
.main-body {
  flex: 2;
  margin-left: 1vw;
}

.article-item {
  background-color: white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 1vw;
}

.article-item > * {
  padding: 1vh 0;
}

.article-item-title {
  font-size: 1.75em;
}

.article-item-title a {
  position: relative;
  color: black;
}

.article-item-title a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1em;
  background: black;
  flex: 1;
  top: 100%;
  left: 50%;
  transition: all 300ms;
}

.article-item-title a:hover::after,
.article-item-title a:active::after {
  width: 100%;
  left: 0%;
  transition: all 500ms;
}


.article-item-all a {
  font-size: 1em;
  border-radius: 0.5em;
  display: inline-block;
  background-color: white;
  color: skyblue;
  width: 6.25em;
  height: 1.875em;
  line-height: 1.875em;
  border: 1px solid skyblue;
  transition: all 700ms;
}

.article-item-all a:hover,
.article-item-all a:active {
  background-color: gray;
  color: white;
  border-color: transparent;
  transition: all 500ms
}

.article-item-ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
.article-item-ul li {
  font-size: 0.875em;
  padding: 0 1em;
}

.article-item-readtimes {
  color: skyblue;
}

.article-item-archive {
  color: red;
}

.article-item-abstract {
  color: gray;
}

.push-enter,
.push-appear {
  opacity: 0;
}

.push-enter.push-enter-active,
.push-appear.push-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in
}

.push-leave {
  opacity: 1;
}

.push-leave.push-leave-active {
  opacity: 0;
  transition: opacity 700ms ease-out;
}

/*文章主题部分*/
.article-info {
  background-color: white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 1vw;
}

.article-info-main {
  color: gray;
}

.article-info-title {
  position: relative;
  color: black;
  font-size: 1.75em;
}

.article-info-title::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1em;
  background: black;
  flex: 1;
  top: 100%;
  left: 50%;
  transition: all 300ms;
}

.article-info-title:hover::after,
.article-info-title:active::after {
  width: 100%;
  left: 0%;
  transition: all 500ms;
}

.article-info-btn button {
  padding: 0 1em;
}

.article-info-btn a {
  font-size: 1em;
  border-radius: 0.5em;
  display: inline-block;
  background-color: white;
  color: skyblue;
  width: 6.25em;
  height: 1.875em;
  line-height: 1.875em;
  border: 1px solid skyblue;
  transition: all 700ms;
}

.article-info-btn a:hover,
.article-info-btn a:active {
  background-color: gray;
  color: white;
  border-color: transparent;
  transition: all 500ms
}

/*归档部分*/
.archive-item {
  background-color: white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 1vw;
}

.archive-item-title {
  font-size: 1.75em;
}

.archive-item-title a {
  position: relative;
  color: black;
}

.archive-item-title a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1em;
  background: black;
  flex: 1;
  top: 100%;
  left: 50%;
  transition: all 300ms;
}

.archive-item-title a:hover::after,
.archive-item-title a:active::after {
  width: 100%;
  left: 0%;
  transition: all 500ms;
}

.archive-item > * {
  padding: 1vh 0;
}

.archive-item-ol {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.archive-item-ol li {
  position: relative;
  list-style: upper-roman;
  list-style-position: inside;
  padding: 0 1vw;
  color: gray;
  transition: all 1000ms;
}

.archive-item-ol li a {
  color: gray;
  transition: color 1000ms;
}

.archive-item-ol li:hover,
.archive-item-ol li a:hover,
.archive-item-ol li:active,
.archive-item-ol li a:active {
  color: skyblue;
  transition: color 500ms;
}

.archive-item-btn button {
  padding: 0 1em;
}

.archive-item-btn a {
  font-size: 1em;
  border-radius: 0.5em;
  display: inline-block;
  background-color: white;
  color: skyblue;
  width: 6.25em;
  height: 1.875em;
  line-height: 1.875em;
  border: 1px solid skyblue;
  transition: all 700ms;
}

.archive-item-btn a:hover,
.archive-item-btn a:active {
  background-color: gray;
  color: white;
  border-color: transparent;
  transition: all 500ms
}