/*css重置*/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, tr, img, div, dl, dt, dd, input, label, figure {
  margin: 0;
  padding: 0;

}

html {
  font-size: 100%;
}

*,*:after,*:before {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

body {
  font-family: "Arial", "Microsoft YaHei", sans-serif;
}

img {
  border: none;
}

li {
  list-style: none;
}

input, select, textarea, button {
  background: none;
  /*解决输入框兼容问题*/
  outline: none;
  /*聚焦时样式*/
  border: none;
  /*盒子模型*/
  vertical-align: middle
  /*对不齐的问题*/
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "\200b";
  display: block;
  height: 0;
  clear: both;
}
/* css重置完成 */

/*以下是桌面端部分*/
@media (min-width: 720px) and (max-width: 1280px) {
  body {
    font-size: 0.875em;
  }

  .nav-bar {
    padding-left: 5em;
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  body {
    font-size: 1em;
  }
  
  .nav-bar {
    padding-left: 6.25em;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 1.125em;
  }

  .nav-bar {
    padding-left: 7.8125em;
  }
}

body {
  position: relative;
}

/*导航栏开始*/
.nav-bar {
  width: 100%;
  display: block;
  position: fixed;
  font-size: 1em;
  background-color: black;
  opacity: 0.5;
}

.nav-ul {
  display: flex;
  justify-content: flex-start;
}

.nav-ul > li > a {
  display: inline-block;
  color: white;
  width: 5em;
  text-align: center;
  line-height: 3.125em;
  height: 3.125em;
}

.nav-ul > li > a:hover {
  background-color: white;
  color: black;
}

/*头图*/
.brand {
  background-image: url("../image/brand.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/*主题部分开始*/
.body {
  display: flex;
  justify-content: flex-start;
  padding-top: 3em;
  padding-left: 6.25em;
  padding-right: 6.25em;
}

/*侧栏开始*/
.side-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-header-img {
  width: 9.375em;
  height: 9.375em;
}









.main-body {
  flex: 3;
}

.article-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-item-ul {
  display: flex;
  justify-content: center;
}
.article-item-ul > li {
  width: 9.375em;
}

.article-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}